h1 {
  position: fixed;
  width: 100%;
  text-align: center;
  top: 7%;
  height: 8vh;
  margin: 0;
  font-size: 32pt;
}
textarea {
  height: 55%; /*HEAD: 40%*/
  width: 75%;
  position: absolute;
  top: 15%; /*HEAD: 32%*/
  left: 12.5%;
  padding: 20px;
  /*HEAD: z-index: -1*/
}
#filename {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 75%; /*HEAD: 85%*/
}