h1 {
  text-align: center;
  font-family: fantasy;
  font-variant: small-caps;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 40px;
  font-size: 28pt;
}
h2, h2 a, input.yeah {text-align: center; color: black;}
header p {font-family: monospace; letter-spacing: -0.5px; font-size: 11pt;}
#bottom {visibility: hidden;}
textarea, input, table, .submit {
  font: 14pt Georgia;
  border: solid 5px darkgreen;
  box-sizing: border-box;
}
textarea {
/*<<<<<<< HEAD
  height: 40%;
  width: 75%;
  position: absolute;
  top: 32%;
  left: 12.5%;
  padding: 20px;
  z-index: -1;
=======*/
  height: 60%;
  width: 75%;
  position: absolute;
  top: 10%;
  left: 12.5%;
  padding: 20px;
/*>>>>>>> aiden*/
}
#filename {
  width: 100%;
  text-align: center;
  position: absolute;
/*<<<<<<< HEAD
  top: 85%;
=======*/
  top: 75%;
/*>>>>>>> aiden*/
}
/*a {
  border: none;
  position: absolute;
  bottom: 10%;
  left: 45%;
  width: 10%;
}*/
/*<<<<<<< HEAD
input[type="submit"] {
  width: 20%;
  position: absolute;
  bottom: 05%;
  left: 40%;
  transition: background-color .2s, font-weight .2s;
}
input[type="submit"]:hover {
======= */
input[type="submit"], .submit {
  width: 20%;
  transition: background-color .2s, font-weight .2s;
}
input[type="submit"] {
  position: absolute;
  bottom: 10%;
  left: 40%;
  
}
input[type="submit"]:hover, .submit:hover {
/*>>>>>>> aiden*/
  background-color: pink;
  font-weight: bold;
  cursor: pointer;
}
#dct {font-size: 24pt;}
#dct + input {width: 20%; margin: 5px 40%;}
table, td, th, td input {
  margin: 0 auto 10px;
  border: 1px solid;
  text-align: right;
}
th {text-align: center; font-weight: bold;}
td input {
  width: 100%;
  margin: 0;
  border: none;
}