body {
  /*background-color: lightblue;*/
  margin: 0;
}
h1 {
  font-family: fantasy;
  font-variant: small-caps;
  font-size: 32pt;
  margin: 8px 40px 0;
}
h1 + input {
  position: fixed;
  right: 50px;
  top: 50px;
  border: 2px dashed;
  height: 20px;
}
#sheet {
  width: 80%;
  margin-left: 1.5%;
  padding: 0 32px;
  background-image: url(5x3v4.png);
  background-repeat: repeat-y;
}
hr {
  clear: left;
  height: 0;
  border: none;
}
ul {
  border: solid 1px;
  float: left;
  padding: 0px;
  margin: 0 -1px 2px;
  min-width: 60px;
  position: relative;
}
li {
  text-decoration: none;
  list-style: none;
  border: solid 1px;
  height: 12pt;
  padding: 2px;
  font-family: georgia, serif;
  font-size: 11pt;
}
li::selection, li span::selection {background-color: #04f; color: white;}
p + input[type="checkbox"] {
  position: fixed;
  right: 85px;
  margin: 5px;
}
#Embed + input[type="checkbox"] {margin: 30px 55px 0 0;}
#Center,#Embed {
  margin: 0;
  padding: 2px 10px 2px 25px;
  position: fixed;
  right: 25px;
  border: dashed 1px;
  font-family: monospace;
  font-size: 10pt;
}
#Embed {margin-top: 25px;}
#Center + input:checked ~ #sheet > ul > li {text-align: center;}
input[type="text"] {
  height: 10pt;
  padding: 0 2px;
  margin: -2px 2px;
  font-family: inherit;
  font-size: 11pt;
  background-color: lightgray;
  text-align: inherit;
  border: none;
}
input.mini {
  width: 1.3em;
  border-bottom: 1px dashed;
}
input.comment {width: 50px; border-bottom: 1px solid;}
ul:hover {background-color: lightgreen;}
#sheet > ul > li:first-of-type {font-weight: bold; padding-right: 20px;}
#sheet ul input[type="checkbox"] {
  width: 12px;
  height: 12px;
  position: absolute;
  top: 2px;
  right: 2px;
  border: 5px solid black;
}
li.error {
  position: fixed;
  top: 40%;
  right: 1%;
  background-color: lightgreen;
  border: 2px solid red;
  height: 80px;
  visibility: hidden;
  max-width: 16%;
}
li.error, li.error * {overflow-x: scroll;}
li.error p {
  margin: 0;
  font-weight: bold;
  font-size: 16pt;
  margin: 0;
}
ul:hover > li.error {visibility: visible;}
/*li::selection {background-color: red;}
li::selection ~ li {background-color: blue;}
span::selection ~ li.error {visibility: visible;}*/
li:first-of-type:active ~ li.error, li.error:hover, input:checked ~ li.error, #Embed + input:checked ~ #sheet li.error {
  float: none;
  max-width: none;
  visibility: visible;
  position: relative;
  padding: 0;
  margin: -86px 1px 2px 4px;
}
li ul {
  float: none;
  border: none;
}
li ul li {
  list-style: none;
  border: none;
}
input[type="radio"] {margin: 0 5px 0 25px;}

#report {
  clear: left;
}
#report ul {
  float: none;
  padding: 0 5%;
  column-count: 4;
}
#report ul:hover {background-color: transparent;}
#report ul li {
  float: none;
  border: none;
  position: static;
  margin: 0;
  padding-bottom: 10px;
  overflow: hidden;
  height: auto
}
#report li:hover {background-color: gold;}